*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title {
    font-weight: 900;
}
#chaomung {
    font-size: larger;
    text-align: center;
}
.chutichdang {
    font-size: larger;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: center;
}
.link {
    font-style: normal;
    color: black;
    text-decoration: none;

}
.thanhvien {
    font-style: normal;
    color: black;
    text-decoration: none;

}
#rickroll {
font-style: italic;
font-size: smaller;
text-decoration: none;
}
footer {
    width:max-content;
    height:max-content;
    background-color: rgb(192, 192, 192);
    display:block;
}
.btn {
    width:19.5%;
    height:100px;
    font-weight:bolder;
    padding:20px;
}
.cot1 {
    width:2%;

}
.cot2 {
    width:60%;

}
.cot3 {
    width:20%;

}
.cot4 {
    font-style: italic;
}
table, th, td {
    border: 1px solid;
    text-align: center;
}
#video {
    box-align: center;
}
